Repository roy-ht/dandori: changes, and which pre-commit hooks are due for each by the changed paths.
All: install-pylint, pylint

.pre-commit-config.yaml:

default_stages: [commit, push]
fail_fast: true
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.5.4
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 21.5b1
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.3'
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings]
  - repo: local
    hooks:
      - id: install-pylint
        name: install-pylint
        entry: python -m pip install pylint
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint.__main__
        language: system
        types: [python]
        files: src/

Fix: workflow
  .github/workflows/workflow.yaml
Due: none

🐛 check release
  ci_handler/__init__.py
Due: install-pylint

📌 Bump: v0.1.2
  pyproject.toml
Due: none

♻️ remove pull_request_push event
  ci_handler/__init__.py
  src/dandori/gh.py
Due: install-pylint, pylint

♻️ Support yaml format for configuration
  .github/workflows/specific_command_test.yaml
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/context.py
  src/dandori/gh.py
  src/dandori/run.py
Due: install-pylint, pylint

🔖 Bump: v0.1.3
  pyproject.toml
Due: none

♻️ future annotation
  poetry.lock
  pyproject.toml
  src/dandori/__main__.py
  src/dandori/context.py
  src/dandori/env.py
  src/dandori/exception.py
  src/dandori/gh.py
  src/dandori/log.py
  src/dandori/response.py
  src/dandori/run.py
Due: install-pylint, pylint

🔖 Bump: v0.1.4
  pyproject.toml
Due: none

🔥 samples
  sample/handler/__init__.py
  sample/payload.json
  sample/remote_handler/__init__.py
Due: install-pylint

✨ canceling workflow
  ci_handler/__init__.py
  src/dandori/gh.py
  src/dandori/ops.py
  src/dandori/run.py
Due: install-pylint, pylint

🔖 Bump: v0.1.5
  pyproject.toml
Due: none

🐛 subprocess.run accepts one positional argument
  src/dandori/ops.py
Due: install-pylint, pylint

✨ custom token
  src/dandori/__main__.py
Due: install-pylint, pylint

Add test
  .github/workflows/specific_command_test.yaml
  .github/workflows/workflow.yaml
Due: none

🔖 Bump: v0.1.6
  pyproject.toml
Due: none

🐛 Fix: venv
  ci_handler/__init__.py
  src/dandori/ops.py
Due: install-pylint, pylint

🔖 Bump: v0.1.7
  pyproject.toml
Due: none

✨ do not upgrade pip of venvs, Always inherit all env variables
  src/dandori/ops.py
Due: install-pylint, pylint

🔖 Bump: v0.1.8
  pyproject.toml
Due: none

✨ capture command output, and print to stdout at the same time
  src/dandori/ops.py
  src/dandori/process.py
Due: install-pylint, pylint

✨ ON: line buffering
  src/dandori/__main__.py
Due: install-pylint, pylint

🐛 asyncio.subprocesss does not support encoding
  src/dandori/process.py
Due: install-pylint, pylint

♻️ Remove debug log
  src/dandori/gh.py
Due: install-pylint, pylint

🐛 check in kwargs
  src/dandori/process.py
Due: install-pylint, pylint

♻️ stdout returns as it looks like
  src/dandori/process.py
Due: install-pylint, pylint

🔖 Bump: v0.1.9
  pyproject.toml
Due: none

🐛 ops.run outputs an extra newline
  src/dandori/process.py
Due: install-pylint, pylint

🔖 Bump: v0.1.10
  pyproject.toml
Due: none

✨ Support input argument of subprocess
  src/dandori/process.py
Due: install-pylint, pylint

🔖 Bump: v0.1.11
  pyproject.toml
Due: none

🐛 version
  poetry.lock
  pyproject.toml
Due: none

🐛 run_venv doesn't return the value
  src/dandori/ops.py
Due: install-pylint, pylint

🔖 Bump: v0.1.12
  pyproject.toml
Due: none

🐛 throw an error when config file not found
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/run.py
Due: install-pylint, pylint

🔖 Bump: v0.1.13
  pyproject.toml
Due: none

pull_request object is a full and fresh
  src/dandori/gh.py
Due: install-pylint, pylint

✨ Experimental method: list_checks
  src/dandori/gh.py
Due: install-pylint, pylint

🔖 Bump: v0.1.14
  pyproject.toml
Due: none

try to support python 3.7
  pyproject.toml
Due: none

✨ Handler can be loaded from git repo
  src/dandori/config.py
Due: install-pylint, pylint
