Repository roy-ht/dandori: changes, and which pre-commit hooks are due for each by the changed paths.
All: install-pylint, pylint

.pre-commit-config.yaml:

default_stages: [commit, push]
fail_fast: true
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.5.4
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 21.5b1
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.3'
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings]
  - repo: local
    hooks:
      - id: install-pylint
        name: install-pylint
        entry: python -m pip install pylint
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint.__main__
        language: system
        types: [python]
        files: src/

🔖 Bump: 0.1.16
  pyproject.toml
Due: none

🐛 determin of access method
  src/dandori/config.py
Due: install-pylint, pylint

✨ DANDORI_DEFAULT_PAT
  src/dandori/config.py
Due: install-pylint, pylint

♻️ disable echoing
  src/dandori/config.py
Due: install-pylint, pylint

🐛 missing ctx
  ci_handler/__init__.py
Due: install-pylint

🐛 use local git config to add cred helper
  src/dandori/config.py
Due: install-pylint, pylint

need to add path
  src/dandori/config.py
Due: install-pylint, pylint

🐛 need mkdir
  src/dandori/config.py
Due: install-pylint, pylint

🐛 Wrong command name
  src/dandori/config.py
Due: install-pylint, pylint

🔖 Bump: 0.1.17
  pyproject.toml
Due: none

Show all command output if debug mode
  src/dandori/log.py
  src/dandori/process.py
Due: install-pylint, pylint

🔖 Bump: 0.1.18
  pyproject.toml
Due: none

🐛 Fix: git based handler
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/env.py
  src/dandori/ops.py
  src/dandori/run.py
Due: install-pylint, pylint

🔖 Bump: 0.1.19
  pyproject.toml
Due: none

💥 re-organized git config and clone process
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/env.py
  src/dandori/git.py
  src/dandori/run.py
Due: install-pylint, pylint

Add: debug code
  src/dandori/git.py
Due: install-pylint, pylint

♻️ our cred helper must be the first
  src/dandori/git.py
Due: install-pylint, pylint

🔖 Bump: 0.1.20
  pyproject.toml
Due: none

Add debug code
  src/dandori/config.py
Due: install-pylint, pylint

add more debug code
  src/dandori/config.py
Due: install-pylint, pylint

more debug code
  src/dandori/config.py
Due: install-pylint, pylint

Donot deploy lazyly
  src/dandori/config.py
  src/dandori/run.py
Due: install-pylint, pylint

🐛 only cache repo in CI env
  src/dandori/config.py
  src/dandori/env.py
Due: install-pylint, pylint

🔖 Bump: 0.1.21
  pyproject.toml
Due: none

🐛 mege_commit_sha sometimes not usable
  src/dandori/gh.py
Due: install-pylint, pylint

secret=True command do not display outputs any
  src/dandori/ops.py
  src/dandori/process.py
Due: install-pylint, pylint

🔖 Bump: 0.1.22
  pyproject.toml
Due: none

🐛 Load configuration after GitHub instance are created
  src/dandori/run.py
Due: install-pylint, pylint

🔖 Bump: 0.1.23
  pyproject.toml
Due: none

✨ Upgrade to newest pip/setuptools/wheel
  pyproject.toml
  src/dandori/ops.py
Due: install-pylint, pylint

🐛 need env to change pip binary
  pyproject.toml
  src/dandori/ops.py
Due: install-pylint, pylint

Do not install/update setuptools related things
  src/dandori/ops.py
Due: install-pylint, pylint

🔖 Bump: 0.1.25
  pyproject.toml
Due: none

🔖 Bump: 0.1.26
  pyproject.toml
Due: none
