Repository roy-ht/dandori: changes, and which pre-commit hooks are due for each by the changed paths.
All: install-pylint, pylint

install-pylint:
  name: install-pylint
  entry: python -m pip install pylint
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: python -m pylint.__main__
  language: system

🚧 simplifying an architecture
  poetry.lock
  pyproject.toml
  sample/dandori.yaml
  sample/handler/__init__.py
  sample/payload.json
  sample/remote_handler/__init__.py
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/gh.py
  src/dandori/log.py
  src/dandori/run.py
Due: install-pylint, pylint

🚧 support git repo
  pyproject.toml
  sample/git_handler.toml
  sample/handler/__init__.py
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/ops.py
Due: install-pylint, pylint

🚧 Support ssh key for git repo
  .gitignore
  sample/git_handler.toml
  src/dandori/config.py
Due: install-pylint, pylint

🚧 experimental release command
  .github/workflows/workflow.yaml
  dandori/__init__.py
  pyproject.toml
  src/dandori/config.py
  src/dandori/gh.py
  src/dandori/ops.py
  src/dandori/run.py
Due: install-pylint, pylint

🐛 name 'dandori' conflict to its package name
  ci_handler/__init__.py
  pyproject.toml
Due: install-pylint

💚 🐛 option
  .github/workflows/workflow.yaml
Due: none

✨ Add new event: pull_request_push
  src/dandori/gh.py
Due: install-pylint, pylint

💚 Add issue_comment event target
  .github/workflows/workflow.yaml
Due: none

🐛 Command to Actions to stdout diractly
  src/dandori/run.py
Due: install-pylint, pylint

💚 🐛 typo
  ci_handler/__init__.py
Due: install-pylint

💚 🐛 Add GITHUB_TOKEN
  .github/workflows/workflow.yaml
Due: none

✨ Add create_relase method for shortcut
  src/dandori/gh.py
Due: install-pylint, pylint

🚧 Remove GitHandlerLoader because actions has actions/checkout
  src/dandori/config.py
Due: install-pylint, pylint

💚 Add release-test command and upload to pypi
  ci_handler/__init__.py
  src/dandori/exception.py
  src/dandori/ops.py
Due: install-pylint, pylint

🔖 v0.1.1
  pyproject.toml
Due: none

💚 add .pypirc
  .github/workflows/workflow.yaml
Due: none

🐛 💚 dandori config format changes
  pyproject.toml
Due: none

✨ re-checkout your code if issue_comment of pull_request
  src/dandori/gh.py
Due: install-pylint, pylint

Exec: poetry update
  poetry.lock
Due: none

🐛 not a string issue
  src/dandori/ops.py
Due: install-pylint, pylint

🐛 need path
  ci_handler/__init__.py
Due: install-pylint

✨ Add check to commit
  ci_handler/__init__.py
  src/dandori/exception.py
  src/dandori/gh.py
  src/dandori/ops.py
  src/dandori/run.py
Due: install-pylint, pylint

🔊 Add debug log
  src/dandori/gh.py
Due: install-pylint, pylint

🐛 fix: fetching pull_request
  src/dandori/gh.py
Due: install-pylint, pylint

🐛 pass check_run_id
  src/dandori/gh.py
Due: install-pylint, pylint

📝 Add simple README
  README.md
Due: none

📝 Add some description in pyproject.toml
  pyproject.toml
Due: none

✨ Add some utility functions
  .github/workflows/workflow.yaml
  ci_handler/__init__.py
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/gh.py
  src/dandori/run.py
Due: install-pylint, pylint

🐛 entrypoint
  src/dandori/__main__.py
Due: install-pylint, pylint

Add: sample workflow to test an specific command
  .github/workflows/specific_command_test.yaml
Due: none

♻️ display function name
  ci_handler/__init__.py
  src/dandori/run.py
Due: install-pylint, pylint

🐛 logger
  src/dandori/run.py
Due: install-pylint, pylint

🐛 parse options
  src/dandori/__main__.py
  src/dandori/run.py
Due: install-pylint, pylint

✨ Use Box
  poetry.lock
  pyproject.toml
  src/dandori/__main__.py
  src/dandori/config.py
  src/dandori/gh.py
  src/dandori/run.py
Due: install-pylint, pylint

➕ tomlkit->toml
  poetry.lock
  pyproject.toml
Due: none

✨ Add ability to dump/load yaml files
  poetry.lock
  pyproject.toml
  src/dandori/ops.py
Due: install-pylint, pylint

🐛 box_dots cannot assign dotted access with string
  src/dandori/__main__.py
Due: install-pylint, pylint

🐛 test workflow failes
  .github/workflows/specific_command_test.yaml
  src/dandori/run.py
Due: install-pylint, pylint

🐛 Checkout merge_commit_sha if issue_comment event (to invoke newest dandori)
  .github/workflows/workflow.yaml
  ci_handler/__init__.py
Due: install-pylint

Path conditions:
  install-pylint: any of: \.py$
  pylint: any of: src/ and \.py$
